@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    lofi --default,
    sunset --prefersdark;
}

@custom-variant dark (&:where([data-theme=sunset], [data-theme=sunset] *));

html {
  scroll-behavior: smooth;
}

@layer base {
  .using-mouse * {
    outline: none !important;
  }
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('/PretendardVariable.woff2') format('woff2-variations');
}

@theme {
  --font-pretendard: Pretendard, sans-serif;
}
